{% extends 'base.html.twig' %}

{% block title %}Edit Universe{% endblock %}

{% block body %}
    <h1>Edit Universe</h1>

    {{ include('universe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_universe_index') }}">back to list</a>

    {{ include('universe/_delete_form.html.twig') }}
{% endblock %}
